<div class="menu-drawer__inner-container tw-h-full">
  <div class="menu-drawer__navigation-container tw-flex tw-flex-col tw-h-full tw-px-[33px] tw-py-[10px] tw-overflow-auto">
    <close-header-drawer class="tw-h-[20px] tw-w-[20px] tw-fixed tw-right-[25px] tw-top-[10px]">
      {% render "icon-close" %}
    </close-header-drawer>
    {%- if settings.logo != blank -%}  
      <div>
        <a href="{{ routes.root_url }}" class="tw-flex tw-pb-[10px] tw-items-center tw-justify-center tw-w-full">
            <div class="header__heading-logo-wrapper">
              {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
              {%- assign logo_height = settings.logo_width | divided_by: settings.logo.aspect_ratio -%}
              {% capture sizes %}(max-width: {{ settings.logo_width | times: 2 }}px) 50vw, {{ settings.logo_width }}px{% endcapture %}
              {% capture widths %}{{ settings.logo_width }}, {{ settings.logo_width | times: 1.5 | round }}, {{ settings.logo_width | times: 2 }}{% endcapture %}
              {{ settings.logo | image_url: width: 600 | image_tag:
                class: 'header__heading-logo motion-reduce',
                widths: widths,
                height: logo_height,
                width: settings.logo_width,
                alt: logo_alt,
                sizes: sizes,
                preload: true
              }}
            </div>
        </a>
      </div>
    {% endif %}
    {%- if shop.customer_accounts_enabled -%}
      <div class="mobile-header-drawer tw-flex tw-items-center tw-justify-center tw-pb-[20px]">
        {% if customer == blank %}
          <a
            href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}"
            class="button tw-bg-[rgba(var(--color-button-text))] tw-text-[rgb(var(--color-button))]"
          >
            LOG IN / SIGN UP
          </a>
        {% else %}
          <a
            href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}"
            class="button tw-bg-[rgba(var(--color-button-text))] tw-text-[rgb(var(--color-button))]"
          >
            MY ACCOUNT
          </a>
        {% endif %}
      </div>
    {%- endif -%}
    <nav class="menu-drawer__navigation">
      <ul class="menu-drawer__menu" role="list">
        {%- for link in section.settings.menu.links -%}
          <li>
            {%- if link.links != blank -%}
              <details id="Details-menu-drawer-menu-item-{{ forloop.index }}">
                <summary
                  id="HeaderDrawer-{{ link.handle }}"
                  class="menu-drawer__menu-item list-menu__item link link--text {% if link.child_active %} tw-text-[rgb(var(--color-foreground))] tw-bg-[rgba(var(--color-foreground),0.04)] {% endif %} tw-block tw-py-[1.1rem] tw-pr-[5.2rem] tw-uppercase tw-text-[15px] tw-font-[500] !tw-leading-[18px] tw-border-0 tw-border-b-2 tw-border-white tw-border-solid"
                >
                  {{ link.title | escape }}
                  {% render 'icon-menu-arrow' %}
                </summary>
                <div
                  id="link-{{ link.handle | escape }}"
                  class="menu-drawer__submenu has-submenu gradient motion-reduce tw-h-full tw-px-[30px] tw-py-[10px]"
                  tabindex="-1"
                >
                  <div class="menu-drawer__inner-submenu">
                    <button class="menu-drawer__close-button tw-uppercase tw-text-[15px] tw-font-[500] !tw-leading-[18px] tw-border-0 tw-border-b-2 tw-border-white tw-border-solid tw-flex tw-gap-[15px] tw-w-full tw-py-[1.1rem] tw-pr-[5.2rem]" aria-expanded="true">
                      {% render 'icon-menu-arrow' %}
                      {{ link.title | escape }}
                    </button>
                    <ul class="menu-drawer__menu list-menu" role="list" tabindex="-1">
                      {%- for childlink in link.links -%}
                        <li>
                          {%- if childlink.links == blank -%}
                            <a
                              id="HeaderDrawer-{{ link.handle }}-{{ childlink.handle }}"
                              href="{{ childlink.url }}"
                              class="tw-uppercase menu-drawer__menu-item link link--text {% if childlink.current %} menu-drawer__menu-item--active{% endif %} !tw-leading-[18px] tw-border-0 tw-border-b-[1.5px] tw-border-white tw-border-solid tw-flex tw-gap-[15px] tw-w-full tw-py-[1.1rem] tw-pr-[5.2rem] tw-font-['Poppins']"
                              {% if childlink.current %}
                                aria-current="page"
                              {% endif %}
                            >
                              {{ childlink.title | escape }}
                            </a>
                          {%- else -%}
                            <details id="Details-menu-drawer-{{ link.handle }}-{{ childlink.handle }}" class="tw-border-0 tw-border-b-[1.5px] tw-border-white tw-border-solid">
                              <summary
                                id="HeaderDrawer-{{ link.handle }}-{{ childlink.handle }}"
                                class="menu-drawer__menu-item link link--text list-menu__item focus-inset tw-uppercase !tw-leading-[18px] tw-flex tw-gap-[15px] tw-w-full tw-py-[1.1rem] tw-pr-[5.2rem] tw-font-['Poppins']"
                              >
                                {{ childlink.title | escape }}
                                {% render 'icon-menu-caret' %}
                              </summary>
                              <div
                                id="childlink-{{ childlink.handle | escape }}"
                                class="has-submenu gradient motion-reduce"
                              >
                                <ul
                                  class="menu-drawer__menu list-menu"
                                  role="list"
                                  tabindex="-1"
                                >
                                  {%- for grandchildlink in childlink.links -%}
                                    <li>
                                      <a
                                        id="HeaderDrawer-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                                        href="{{ grandchildlink.url }}"
                                        class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if grandchildlink.current %} menu-drawer__menu-item--active{% endif %} !tw-leading-[18px] tw-flex tw-gap-[15px] tw-w-full tw-py-[1.1rem] tw-pr-[5.2rem] tw-text-[rgba(var(--color-button))] tw-text-[13px]"
                                        {% if grandchildlink.current %}
                                          aria-current="page"
                                        {% endif %}
                                      >
                                        {{ grandchildlink.title | escape }}
                                      </a>
                                    </li>
                                  {%- endfor -%}
                                </ul>
                              </div>
                            </details>
                          {%- endif -%}
                        </li>
                      {%- endfor -%}
                    </ul>
                  </div>
                </div>
              </details>
            {%- else -%}
              <a
                id="HeaderDrawer-{{ link.handle }}"
                href="{{ link.url }}"
                class="menu-drawer__menu-item {% if link.current %} menu-drawer__menu-item--active{% endif %} tw-block tw-py-[1.1rem] tw-pr-[5.2rem] tw-uppercase tw-text-[15px] tw-font-[500] !tw-leading-[18px] tw-border-0 tw-border-b-2 tw-border-white tw-border-solid tw-text-[rgba(var(--color-foreground))]"
                {% if link.current %}
                  aria-current="page"
                {% endif %}
              >
                {{ link.title | escape }}
              </a>
            {%- endif -%}
          </li>
        {%- endfor -%}
      </ul>
    </nav>
    {% if section.settings.contact_phone_number != blank %}
      <div class="mobile-drawer-no tw-mt-[auto] tw-text-center tw-pt-[20px] tw-text-[13px]">
        {{ section.settings.contact_phone_number }}
      </div>
    {% endif %}
  </div>
</div>