{% comment %}
  Renders a product card

    Accepts:
  - product: {Object} Product Liquid object (optional)
  - show_quick_view: {Boolean} Show the quick add button.
  
  Usage : {% render 'product-card', product: product %}
  
{% endcomment %}
{%- liquid
  assign current_variant = product.selected_or_first_available_variant
  assign price = current_variant.price
  assign compare_at_price = current_variant.compare_at_price    
  assign available = current_variant.available | default: false
  assign featured_media = product.featured_media
  assign horizontal_quick_add = horizontal_quick_add | default: false
  assign hide_add_to_card_button = hide_add_to_card_button | default: false 

  if current_variant.image != nil
    assign featured_media = current_variant.image
  endif
-%}

{% assign sectionId = section.id | default: sectionId %}
{% assign product_form_id = 'product-form--' | append: sectionId | append: '--' | append: product.id %}

<marmeto-product-card
  data-selector="marmeto-product-card"
  data-section-id="{{ sectionId }}"  
  class="product-card" 
  data-page="{{ product_on_page }}" 
  id="{{ product.id }}" 
  data-product-handle="{{product.handle}}"
>
  <div class="tw-isolate tw-relative">
    
    {% if customer %}  
      {% render 'product-wishlist-checkbox', product: product, removeDeselectedWishlistCard: removeDeselectedWishlistCard %}
    {% endif %}
    
    <a href="{{ product.url }}"
      class="media media--portrait tw-bg-[#E5EEF3] tw-rounded-[11px] md:tw-rounded-[23px] product-card-media tw-pb-[103%] md:tw-pb-[106.3%]"
    >
        {% render 'lazy-image', 
          src: featured_media, 
          forloop: forloop,
          class: 'tw-object-contain tw-mix-blend-multiply'
        %}
    </a>

    {% assign badge_text = "" %}
    {% for tag in product.tags %}
      {% if tag contains 'badge--' %}
        {% assign badge_text = tag | split: 'badge--' %}
      {% endif %}
    {% endfor %}

    {% if badge_text != blank %}
      <a href="{{ product.url }}">
        <span class="badge-capsule tw-absolute tw-top-[4px] md:tw-top-[9px] tw-left-[4px] md:tw-left-[9px] tw-leading-normal tw-whitespace-nowrap tw-tracking-normal tw-text-[rgb(var(--color-button))] md:tw-text-[rgb(var(--color-foreground))] tw-font-primary tw-font-semibold tw-bg-[#c2c67a] tw-rounded-[20px] tw-py-[2%] tw-px-[3.6%] tw-max-h-[10.7%] lg:tw-max-w-[40.7%]">{{ badge_text }}</span>
      </a>
    {% endif %}

    {% assign badge_text_new = "" %}
    {% if product.tags contains 'new' or product.tags contains 'New' %}
      {% assign badge_text_new = "new!" | capitalize %}
      <a href="{{ product.url }}">
        <span class="badge-new tw-absolute tw-top-0 tw-right-0 tw-text-[rgb(var(--color-background))] tw-bg-[rgb(var(--color-button))] tw-font-primary tw-font-light tw-rounded-bl-[19px] lg:tw-rounded-bl-[39px] tw-rounded-tr-[11px] lg:tw-rounded-tr-[23px] tw-max-h-[19%] bmd:tw-min-h-[19%] lg:tw-max-w-[40%] tw-py-[3.8%] lg:tw-py-[6.1%] tw-px-[5.5%] lg:tw-px-[5.6%]">{{ badge_text_new }}</span>
      </a>
    {% endif %}
    
    <div class="product-card__badges tw-absolute tw-top-4 tw-left-4">
      <a href="{{ product.url }}">
        {%- if current_variant.available == false -%}
          <span class="badge badge--soldout tw-bg-[#c2c67a]" aria-hidden="true">
            Sold Out
          </span>
        {%- elsif current_variant.compare_at_price > current_variant.price and current_variant.available -%}
          <span class="badge badge--onsale tw-bg-[#c2c67a]" aria-hidden="true">
            On Sale
          </span>
        {%- endif -%}
      </a>
    </div>
  </div>
  
  <div class="product-card__info tw-relative">
    {% if isComplementary %}
      {% unless product.selected_or_first_available_variant.available %}
        {% assign class= 'hidden' %}
      {% endunless %}

      <input
        type="checkbox" 
        product-complementary="true" 
        data-price="{{ price }}" 
        checked 
        class="{{ class }} tw-absolute tw-bottom-0 tw-right-0" 
        name="id" 
        value="{{ product.selected_or_first_available_variant.id }}"
      >
    {% endif %}

    <div class="tw-flex tw-justify-between tw-items-center tw-pt-[9px] md:tw-pt-[18px]">
      {% if settings.mm_show_vendor %}
        <div class="product-vendor tw-font-primary tw-text-[7.5px] md:tw-text-[10.7px] tw-font-semibold tw-leading-[6px] md:tw-leading-[13px] tw-uppercase">
          {{ product.vendor }}
        </div>
      {% endif %}
      <div class="ruk_rating_snippet" data-sku="{{ product.handle }};{{ product.variants | map: 'sku' | join: ';' }};{{ product.variants | map: 'id' | join: ';' }}"></div>
    </div>

    <div class="tw-flex bmd:tw-flex-col bmd:tw-gap-[10px] tw-justify-between tw-items-start tw-gap-[22px] tw-pt-[6px] md:tw-pt-[13px] tw-pb-[8px] md:tw-pb-[16px]">
      <a href="{{ product.url }}" class="product-card__title truncate-product-title tw-font-primary tw-text-[12px] md:tw-text-[14.3px] tw-font-normal md:tw-font-semibold tw-leading-[16px] md:tw-leading-[19px]">
        {{ product.title }}
      </a>
      
      <div id="price--{{ sectionId }}--{{ product.id }}" class="product-card__price bmd:tw-leading-[9px] bmd:tw-m-auto">  
        <span class="{% if compare_at_price > price %} tw-font-bold{% endif %} tw-font-primary tw-text-[12px] md:tw-text-[16.4px] tw-font-normal md:tw-font-semibold tw-leading-[9px] md:tw-leading-[19px]">
          {{ price | money }}
        </span>            
        <span class="tw-line-through{% unless compare_at_price > price %} hidden{% endunless %} tw-font-primary tw-text-[12px] md:tw-text-[16.4px] tw-font-normal md:tw-font-semibold tw-leading-[9px] md:tw-leading-[19px]">
          {{ compare_at_price | money }}
        </span>
      </div>
    </div>

    {% unless show_quick_view %}
      {% render 'mm-product-variant-picker', product: product, picker_type: settings.mm_variant_select_style, sectionId: sectionId %}
    {% endunless %}

    {% capture add_to_cart_form %}      
      <product-form>
        {%- form 'product',
          product,
          id: product_form_id,
          class: 'form tw-flex tw-justify-start',
          novalidate: 'novalidate',
          data-type: 'add-to-cart-form'
        -%}
          <input
            type="hidden"
            name="id"
            value="{{ product.selected_or_first_available_variant.id }}"
            disabled
          >
          <button
            id="{{ product_form_id }}-submit"
            type="submit"
            name="add"
            class="quick-add__submit product-card-atc-btn button {% if horizontal_quick_add %} card--horizontal__quick-add{% endif %} tw-font-primary tw-text-center tw-text-[9px] md:tw-text-[13.5px] tw-font-medium md:tw-font-semibold tw-leading-[10px] md:tw-leading-[20px] tw-uppercase tw-min-h-[15px] md:tw-min-h-[28px] bmd:tw-p-0 tw-whitespace-nowrap"
            aria-haspopup="dialog"
            aria-labelledby="{{ product_form_id }}-submit title-{{ section_id }}-{{ product.id }}"
            aria-live="polite"
            data-sold-out-message="true"
            {% if product.selected_or_first_available_variant.available == false %}
              disabled
            {% endif %}
          >
            <span>
              {%- if product.selected_or_first_available_variant.available -%}
                {{ 'products.product.add_to_cart' | t }}
              {%- else -%}
                {{ 'products.product.sold_out' | t }}
              {%- endif -%}
            </span>
            <span class="sold-out-message hidden">
              {{ 'products.product.sold_out' | t }}
            </span>
            {%- if horizontal_quick_add -%}
              <span class="icon-wrap">{% render 'icon-plus' %}</span>
            {%- endif -%}
            <div class="loading-overlay__spinner hidden">
              <svg
                aria-hidden="true"
                focusable="false"
                class="spinner"
                viewBox="0 0 66 66"
                xmlns="http://www.w3.org/2000/svg"
              >
                <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
              </svg>
            </div>
          </button>
        {%- endform -%}
      </product-form>
    {% endcapture %}

    {%- if show_quick_view -%}
      <div class="quick-add no-js-hidden">
        {%- liquid
          assign product_form_id = 'quick-add-' | append: section_id | append: product.id
          assign qty_rules = false
          if product.selected_or_first_available_variant.quantity_rule.min > 1 or product.selected_or_first_available_variant.quantity_rule.max != null or product.selected_or_first_available_variant.quantity_rule.increment > 1
            assign qty_rules = true
          endif
        -%}
        {%- if product.variants.size > 1 or qty_rules -%}
          <modal-opener data-modal="#QuickAdd-{{ product.id }}">
            <button
              id="{{ product_form_id }}-submit"
              type="submit"
              name="add"
              class="quick-add__submit button button--full-width button--secondary{% if horizontal_quick_add %} card--horizontal__quick-add animate-arrow{% endif %}"
              aria-haspopup="dialog"
              aria-labelledby="{{ product_form_id }}-submit title-{{ section_id }}-{{ product.id }}"
              data-product-url="{{ product.url }}"
            >
              {{ 'products.product.choose_options' | t }}
              {%- if horizontal_quick_add -%}
                <span class="icon-wrap">{% render 'icon-arrow' %}</span>
              {%- endif -%}
              <div class="loading-overlay__spinner hidden">
                <svg
                  aria-hidden="true"
                  focusable="false"
                  class="spinner"
                  viewBox="0 0 66 66"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                </svg>
              </div>
            </button>
          </modal-opener>
          <quick-add-modal id="QuickAdd-{{ product.id }}" class="quick-add-modal">
            <div
              role="dialog"
              aria-label="{{ 'products.product.choose_product_options' | t: product_name: product.title | escape }}"
              aria-modal="true"
              class="quick-add-modal__content global-settings-popup"
              tabindex="-1"
            >
              <button
                id="ModalClose-{{ product.id }}"
                type="button"
                class="quick-add-modal__toggle"
                aria-label="{{ 'accessibility.close' | t }}"
              >
                {% render 'icon-close' %}
              </button>
              <div id="QuickAddInfo-{{ product.id }}" class="quick-add-modal__content-info"></div>
            </div>
          </quick-add-modal>
        {%- else -%}
          {{ add_to_cart_form }}
        {%- endif -%}
      </div>
    {%- elsif hide_add_to_card_button == false -%}
      {{ add_to_cart_form }}
    {%- endif -%}
  </div>

</marmeto-product-card>