{% style %}
  .padding-{{ section.id }} {
    padding-top: {{ section.settings.mobile_padding_top | append: 'px' }};
    padding-bottom: {{ section.settings.mobile_padding_bottom | append: 'px' }};
  }
  @media screen and (min-width: 750px) {
    .padding-{{ section.id }} {
      padding-top: {{ section.settings.section_padding_top | append: 'px' }};
      padding-bottom: {{ section.settings.section_padding_bottom | append: 'px' }};
    }
  }
{% endstyle %}

<div class="testimonial-slider padding-{{ section.id }} color-{{ section.settings.color_scheme }}">
  <div class="page-width page-width-lg-slider">
    <div class="testimonial-section">
      {% if section.settings.testimonial_heading != blank %}
        <div class="tw-font-primary tw-text-[rgb(var(--color-button))] tw-text-[19px] md:tw-text-[30px] tw-font-light tw-leading-[27px] md:tw-leading-[58px] tw-mb-[22px] md:tw-mb-[20px] tw-text-{{ section.settings.Section_heading_alignment }}">
          {{ section.settings.testimonial_heading }}
        </div>
      {% endif %}
      <carousel-component
        id="slideshow--{{ section.id }}"
        class="splide"
        data-autoplay="{{ section.settings.enable_autoplay }}"
        data-autoplay-speed="{{ section.settings.autoplay_speed | times: 1000 | default: 3000 }}"
        data-desktopPerPage="2"
        data-mobilePerPage="1"
        data-type="loop"
        data-mobileslidetype="loop"
        data-showArrows="{{ section.settings.show_arrows }}"
        data-showDots="{{ section.settings.show_dots }}"
        data-showarrowsonmobile="{{ section.settings.show_arrows }}"
        data-showdotsonmobile="{{ section.settings.show_dots }}"
        data-focus="left" 
        data-gapBetweenSlides="9.3%"
        data-gapBetweenSlidesOnMobile="1.6rem"
      >
        <div class="splide__track">
          <ul class="splide__list">
            {% if section.blocks.size > 0 %}
              {%- for block in section.blocks -%}
                <li class="splide__slide md:tw-max-w-[545px] tw-min-h-[188px] md:tw-min-h-[317px]">
                  <div class="color-{{ block.settings.color_scheme_block }} tw-rounded-[30px] md:tw-rounded-[50px] tw-p-[10px] md:tw-p-[16px] tw-flex tw-flex-col tw-justify-between tw-h-full">
                    {% if block.settings.review_name != blank %}
                      <div class="tw-text-[rgb(var(--color-foreground))] tw-text-center tw-font-primary tw-text-[13px] md:tw-text-[22px] tw-font-medium tw-leading-[21px] md:tw-leading-[35px]">{{ block.settings.review_name }}</div>
                    {% endif %}
                    {% if block.settings.review_text != blank %}
                      <div class="tw-text-[rgb(var(--color-button))] tw-text-center tw-font-primary tw-text-[15px] md:tw-text-[25px] tw-font-normal tw-leading-[18px] md:tw-leading-[30px]">{{ block.settings.review_text |strip_html }}</div>
                    {% endif %}
                    <div class="tw-flex tw-flex-col tw-gap-[5px] md:tw-gap-[7px]">
                      {% if block.settings.star_rating != blank %}
                        <div class="tw-flex tw-gap-[2px] tw-justify-center">
                          {% assign rating = block.settings.star_rating %}
                          {% for i in (1..5) %}
                            {% assign half_rating = i | minus: 0.5 %}
                            {% if rating >= i %}
                              <div class="testimonial-rating-star tw-w-[1rem] md:tw-w-[2rem]">{% render "icon-full-star", class: "tw-h-full tw-w-full" %}</div>
                            {% elsif rating >= half_rating %}
                              <div class="testimonial-rating-star tw-w-[1rem] md:tw-w-[2rem]">{% render "icon-half-star", class: "tw-h-full tw-w-full" %}</div>
                            {% else %}
                              <div class="testimonial-rating-star tw-w-[1rem] md:tw-w-[2rem]">{% render "icon-empty-star", class: "tw-h-full tw-w-full" %}</div>
                            {% endif %}
                          {% endfor %}
                        </div>   
                      {% endif %}
                      {% if block.settings.review_star_caption != blank %}
                        <div class="tw-text-[rgb(var(--color-foreground),0.5)] tw-text-center tw-font-primary tw-text-[11px] md:tw-text-[18px] tw-font-normal">{{ block.settings.review_star_caption }}</div>
                      {% endif %}
                    </div>
                  </div>
                </li>
              {% endfor %}
            {% endif %}
          </ul>
        </div>
      </carousel-component>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Testimonial slider",
    "settings": [
      {
        "type": "text",
        "label": "testimonial heading",
        "id": "testimonial_heading",
        "default": "Testimonials"
      },
      {
        "type": "select",
        "id": "Section_heading_alignment",
        "label": "Section heading alignment",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Middle"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ],
        "default": "center"
      },
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "default": "scheme_1",
        "label": "Color Scheme"
      },
      {
        "type": "header",
        "content": "Carousel Settings"
      },
      {
        "type": "checkbox",
        "id": "show_arrows",
        "label": "Show arrows",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_dots",
        "label": "Show dots",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "enable_autoplay",
        "label": "Autoplay",
        "default": false
      },
      {
        "type": "range",
        "id": "autoplay_speed",
        "label": "Autoplay interval",
        "min": 2,
        "max": 6,
        "default": 3,
        "info": "Default 3s"
      },
      {
        "type": "header",
        "content": "Section padding settings"
      },
      {
        "type": "range",
        "id": "section_padding_top",
        "label": "Padding top (Desktop)",
        "default": 80,
        "min": 0,
        "max": 100,
        "step": 4
      },
      {
        "type": "range",
        "id": "section_padding_bottom",
        "label": "Padding bottom (Desktop)",
        "default": 80,
        "min": 0,
        "max": 100,
        "step": 4
      },
      {
        "type": "range",
        "id": "mobile_padding_top",
        "label": "Padding top (Mobile)",
        "default": 32,
        "min": 0,
        "max": 100,
        "step": 4
      },
      {
        "type": "range",
        "id": "mobile_padding_bottom",
        "label": "Padding bottom (Mobile)",
        "default": 32,
        "min": 0,
        "max": 100,
        "step": 4
      }
    ],
    "blocks": [
      {
        "type": "Review",
        "name": "review block",
        "settings": [
          {
            "type": "color_scheme",
            "id": "color_scheme_block",
            "label": "Block color scheme"
          },
          {
            "type": "text",
            "id": "review_name",
            "label": "Name",
            "default": "Jane"
          },
          {
            "type": "richtext",
            "id": "review_text",
            "label": "Review",
            "default": "<p>“Excellent delivery and easy to use website.”</p>"
          },
          {
            "type": "range",
            "id": "star_rating",
            "min": 0.5,
            "max": 5,
            "step": 0.5,
            "label": "Rating",
            "default": 4
          },
          {
            "type": "text",
            "id": "review_star_caption",
            "label": "Review star caption",
            "default": "From Our Website"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Testimonial slider",
        "blocks": [
          {
            "type": "Review"
          },
          {
            "type": "Review"
          },
          {
            "type": "Review"
          },
          {
            "type": "Review"
          }
        ]
      }
    ]
  }
{% endschema%}