{{ 'component-cart.css' | asset_url | stylesheet_tag }}
{{ 'component-cart-items.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-discounts.css' | asset_url | stylesheet_tag }}
{{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}
{{ 'quantity-popover.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top_mob }}px;
    padding-bottom: {{ section.settings.padding_bottom_mob }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{% if template.name == "cart" %}
  <script src="{{ 'custom-cart-app.js' | asset_url }}" defer="defer"></script>
{% endif %}

{%- unless settings.cart_type == 'drawer' -%}
  <script src="{{ 'cart.js' | asset_url }}" defer="defer"></script>
{%- endunless -%}

<script src="{{ 'quantity-popover.js' | asset_url }}" defer="defer"></script>

<div class="tw-flex bmd:tw-gap-y-[12px] tw-px-[25px] md:tw-px-[147px] page-width cart-section cart-section-lg {% if cart == empty %} is-empty{% else %} section-{{ section.id }}-padding{% endif %}">
  <div class="tw-flex tw-flex-col cart-section__cart-items-upsell">
    <cart-items class="cart-section__cart-items{% if cart == empty %} is-empty{% endif %}">
      <div class="title-wrapper-with-link hidden">
        <h1 class="title title--primary">{{ 'sections.cart.title' | t }}</h1>
      </div>
  
      {%- if cart != empty -%}
        <div class="tw-my-[12px] lg:tw-hidden tw-hidden tw-mb-[22px] continue-cart">
          <a href="{{ routes.all_products_collection_url }}" class="underlined-link cart-continue-shopping">
            {% render 'icon-left-arrow' class: "tw-inline-block tw-pr-[2px] tw-mb-[2px]" %}
            {{ 'general.continue_shopping' | t }}
          </a>
        </div>
      {%- endif -%}
  
      <div class="cart__warnings">
        <h1 class="cart__empty-text">{{ 'sections.cart.empty' | t }}</h1>
        <a href="{{ routes.all_products_collection_url }}" class="button cart-continue-shopping">
          {% render 'icon-left-arrow' class: "tw-inline-block tw-pr-[2px] tw-mb-[2px]" %}
          {{ 'general.continue_shopping' | t }}
        </a>
  
        {%- if shop.customer_accounts_enabled and customer == null -%}
          <h2 class="cart__login-title">{{ 'sections.cart.login.title' | t }}</h2>
          <p class="cart__login-paragraph">
            {{ 'sections.cart.login.paragraph_html' | t: link: routes.account_login_url }}
          </p>
        {%- endif -%}
      </div>
  
      <form action="{{ routes.cart_url }}" class="cart__contents critical-hidden" method="post" id="cart">
        <div class="cart__items" id="main-cart-items" data-id="{{ section.id }}">
          <div class="js-contents">
            {%- if cart != empty -%}
              <table class="cart-items">
                <caption class="visually-hidden">
                  {{ 'sections.cart.title' | t }}
                </caption>
                <thead>
                  <tr>
                    <th class="caption-with-letter-spacing" colspan="2" scope="col">
                      {{ 'sections.cart.headings.product' | t }}
                    </th>
                    <th class="medium-hide large-up-hide hidden right caption-with-letter-spacing" colspan="1" scope="col">
                      {{ 'sections.cart.headings.sub_total' | t }}
                    </th>
                    <th class="caption-with-letter-spacing" colspan="1" scope="col">
                      {{ 'sections.cart.headings.price' | t }}
                    </th>
                    <th
                      class="cart-items__heading--wide cart-items__heading--quantity caption-with-letter-spacing"
                      colspan="1"
                      scope="col"
                    >
                      {{ 'sections.cart.headings.quantity' | t }}
                    </th>
                    <th class="right caption-with-letter-spacing" colspan="1" scope="col">
                      {{ 'sections.cart.headings.sub_total' | t }}
                    </th>
                  </tr>
                </thead>
  
                <tbody>
                  {%- for item in cart.items -%}
                    <tr class="cart-item " id="CartItem-{{ item.index | plus: 1 }}">
                      <td class="cart-item__media">
                        {% if item.image %}
                          {% comment %} Leave empty space due to a:empty CSS display: none rule {% endcomment %}
                          <a href="{{ item.url }}" class="cart-item__link" aria-hidden="true" tabindex="-1"> </a>
                          <div class="cart-item__image-container gradient global-media-settings">
                            <img
                              src="{{ item.image | image_url: width: 300 }}"
                              class="cart-item__image"
                              alt="{{ item.image.alt | escape }}"
                              loading="lazy"
                              width="100"
                              height="{{ 150 | divided_by: item.image.aspect_ratio | ceil }}"
                            >
                          </div>
                        {% endif %}
                      </td>
  
                      <td class="cart-item__details">
                        {%- if settings.show_vendor -%}
                          <p class="caption-with-letter-spacing">{{ item.product.vendor }}</p>
                        {%- endif -%}
  
                        <a href="{{ item.url }}" class="cart-item__name h4 break md:tw-text-[16px] md:tw-text-[#334862] tw-font-medium tw-leading-normal">{{ item.product.title | escape }}</a>
  
                        {%- if item.product.has_only_default_variant == false
                          or item.properties.size != 0
                          or item.selling_plan_allocation != null
                        -%}
                          <dl>
                            {%- if item.product.has_only_default_variant == false -%}
                              {%- for option in item.options_with_values -%}
                                <div class="product-option">
                                  <dt>{{ option.name }}:</dt>
                                  <dd>{{ option.value }}</dd>
                                </div>
                              {%- endfor -%}
                            {%- endif -%}
  
                            {%- for property in item.properties -%}
                              {%- assign property_first_char = property.first | slice: 0 -%}
                              {%- if property.last != blank and property_first_char != '_' -%}
                                <div class="product-option">
                                  <dt>{{ property.first }}:</dt>
                                  <dd>
                                    {%- if property.last contains '/uploads/' -%}
                                      <a href="{{ property.last }}" class="link" target="_blank">
                                        {{ property.last | split: '/' | last }}
                                      </a>
                                    {%- else -%}
                                      {{ property.last }}
                                    {%- endif -%}
                                  </dd>
                                </div>
                              {%- endif -%}
                            {%- endfor -%}
                          </dl>
  
                          <p class="product-option">{{ item.selling_plan_allocation.selling_plan.name }}</p>
                        {%- endif -%}
  
                        <ul class="discounts list-unstyled" role="list" aria-label="{{ 'customer.order.discount' | t }}">
                          {%- for discount in item.line_level_discount_allocations -%}
                            <li class="discounts__discount">
                              {%- render 'icon-discount' -%}
                              {{ discount.discount_application.title }}
                            </li>
                          {%- endfor -%}
                        </ul>
                      </td>
  
                      <td class="cart-item__price">
                        {%- if item.original_price != item.final_price -%}
                          <div class="cart-item__discounted-prices">
                            <span class="visually-hidden">
                              {{ 'products.product.price.regular_price' | t }}
                            </span>
                            <s class="cart-item__old-price product-option">
                              {{- item.original_price | money -}}
                            </s>
                            <span class="visually-hidden">
                              {{ 'products.product.price.sale_price' | t }}
                            </span>
                            <strong class="cart-item__final-price product-option">
                              {{ item.final_price | money }}
                            </strong>
                          </div>
                        {%- else -%}
                          <div class="product-option">
                            {{ item.original_price | money }}
                          </div>
                        {%- endif -%}
                      </td>
  
                      <td class="cart-item__totals right medium-hide hidden large-up-hide">
                        <div class="loading-overlay hidden">
                          <div class="loading-overlay__spinner">
                            {% render 'loading-spinner' %}
                          </div>
                        </div>
                        <div class="cart-item__price-wrapper">
                          {%- if item.original_line_price != item.final_line_price -%}
                            <dl class="cart-item__discounted-prices">
                              <dt class="visually-hidden">
                                {{ 'products.product.price.regular_price' | t }}
                              </dt>
                              <dd>
                                <s class="cart-item__old-price price price--end">
                                  {{ item.original_line_price | money }}
                                </s>
                              </dd>
                              <dt class="visually-hidden">
                                {{ 'products.product.price.sale_price' | t }}
                              </dt>
                              <dd class="price price--end">
                                {{ item.final_line_price | money }}
                              </dd>
                            </dl>
                          {%- else -%}
                            <span class="price price--end">
                              {{ item.original_line_price | money }}
                            </span>
                          {%- endif -%}
  
                          {%- if item.variant.available and item.unit_price_measurement -%}
                            <div class="unit-price caption">
                              <span class="visually-hidden">{{ 'products.product.price.unit_price' | t }}</span>
                              {{ item.unit_price | money }}
                              <span aria-hidden="true">/</span>
                              <span class="visually-hidden"
                                >&nbsp;{{ 'accessibility.unit_price_separator' | t }}&nbsp;</span
                              >
                              {%- if item.unit_price_measurement.reference_value != 1 -%}
                                {{- item.unit_price_measurement.reference_value -}}
                              {%- endif -%}
                              {{ item.unit_price_measurement.reference_unit }}
                            </div>
                          {%- endif -%}
                        </div>
                      </td>
                      {%- liquid
                        assign has_qty_rules = false
                        if item.variant.quantity_rule.increment > 1 or item.variant.quantity_rule.min > 1 or item.variant.quantity_rule.max != null
                          assign has_qty_rules = true
                        endif
  
                        assign has_vol_pricing = false
                        if item.variant.quantity_price_breaks.size > 0
                          assign has_vol_pricing = true
                        endif
                      -%}
                      <td class="cart-item__quantity{% if has_qty_rules or has_vol_pricing %} cart-item__quantity--info{% endif %}">
                        <quantity-popover>
                          <div class="cart-item__quantity-wrapper quantity-popover-wrapper">
                            <label class="visually-hidden" for="Quantity-{{ item.index | plus: 1 }}">
                              {{ 'products.product.quantity.label' | t }}
                            </label>
                            <div class="quantity-popover-container{% if has_qty_rules or has_vol_pricing %} quantity-popover-container--hover{% endif %}">
                              {%- if has_qty_rules or has_vol_pricing -%}
                                <button
                                  type="button"
                                  aria-expanded="false"
                                  class="quantity-popover__info-button quantity-popover__info-button--icon-only button button--tertiary small-hide no-js-hidden"
                                >
                                  {% render 'icon-info' %}
                                </button>
                              {%- endif -%}
                              <quantity-input class="quantity cart-quantity">
                                <button class="quantity__button no-js-hidden" name="minus" type="button">
                                  <span class="visually-hidden">
                                    {{- 'products.product.quantity.decrease' | t: product: item.product.title | escape -}}
                                  </span>
                                  {% render 'icon-minus' %}
                                </button>
                                <input
                                  class="quantity__input"
                                  data-quantity-variant-id="{{ item.variant.id }}"
                                  type="number"
                                  name="updates[]"
                                  value="{{ item.quantity }}"
                                  {% # theme-check-disable %}
                                  data-cart-quantity="{{ cart | item_count_for_variant: item.variant.id }}"
                                  min="{{ item.variant.quantity_rule.min }}"
                                  {% if item.variant.quantity_rule.max != null %}
                                    max="{{ item.variant.quantity_rule.max }}"
                                  {% endif %}
                                  step="{{ item.variant.quantity_rule.increment }}"
                                  {% # theme-check-enable %}
                                  aria-label="{{ 'products.product.quantity.input_label' | t: product: item.product.title | escape }}"
                                  id="Quantity-{{ item.index | plus: 1 }}"
                                  data-index="{{ item.index | plus: 1 }}"
                                >
                                <button class="quantity__button no-js-hidden" name="plus" type="button">
                                  <span class="visually-hidden">
                                    {{- 'products.product.quantity.increase' | t: product: item.product.title | escape -}}
                                  </span>
                                  {% render 'icon-plus' %}
                                </button>
                              </quantity-input>
                            </div>
                            <cart-remove-button
                              id="Remove-{{ item.index | plus: 1 }}"
                              data-index="{{ item.index | plus: 1 }}"
                            >
                              <a
                                href="{{ item.url_to_remove }}"
                                class="button button--tertiary"
                                aria-label="{{ 'sections.cart.remove_title' | t: title: item.title }}"
                              >
                                {% render 'icon-remove' %}
                              </a>
                            </cart-remove-button>
                          </div>
                          {%- if has_qty_rules or has_vol_pricing -%}
                            <button
                              type="button"
                              class="quantity-popover__info-button quantity-popover__info-button--icon-with-label button button--tertiary medium-hide large-up-hide"
                              aria-expanded="false"
                            >
                              {% render 'icon-info' %}
                              <span>
                                {%- if has_vol_pricing -%}
                                  {{ 'products.product.volume_pricing.note' | t }}
                                {%- elsif has_qty_rules -%}
                                  {{ 'products.product.quantity.note' | t }}
                                {%- endif -%}
                              </span>
                            </button>
                          {%- endif -%}
                          {%- if has_vol_pricing or has_qty_rules -%}
                            <div
                              class="cart-items__info global-settings-popup quantity-popover__info"
                              tabindex="-1"
                              hidden
                            >
                              {%- if has_qty_rules == false -%}
                                <span class="volume-pricing-label caption">
                                  {{- 'products.product.volume_pricing.title' | t -}}
                                </span>
                              {%- endif -%}
                              <div class="quantity__rules caption no-js-hidden">
                                {%- if item.variant.quantity_rule.increment > 1 -%}
                                  <span class="divider">
                                    {{-
                                      'products.product.quantity.multiples_of'
                                      | t: quantity: item.variant.quantity_rule.increment
                                    -}}
                                  </span>
                                {%- endif -%}
                                {%- if item.variant.quantity_rule.min > 1 -%}
                                  <span class="divider">
                                    {{-
                                      'products.product.quantity.minimum_of'
                                      | t: quantity: item.variant.quantity_rule.min
                                    -}}
                                  </span>
                                {%- endif -%}
                                {%- if item.variant.quantity_rule.max != null -%}
                                  <span class="divider">
                                    {{-
                                      'products.product.quantity.maximum_of'
                                      | t: quantity: item.variant.quantity_rule.max
                                    -}}
                                  </span>
                                {%- endif -%}
                              </div>
                              <button
                                class="button-close button button--tertiary medium-hide large-up-hide"
                                type="button"
                                aria-label="{{ 'accessibility.close' | t }}"
                              >
                                {%- render 'icon-close' -%}
                              </button>
                              {%- if item.variant.quantity_price_breaks.size > 0 -%}
                                <volume-pricing class="parent-display">
                                  <ul class="list-unstyled">
                                    <li>
                                      <span>{{ item.variant.quantity_rule.min }}+</span>
                                      {%- assign price = item.variant.price | money_with_currency -%}
                                      <span> {{ 'sections.quick_order_list.each' | t: money: price }}</span>
                                    </li>
                                    {%- for price_break in item.variant.quantity_price_breaks -%}
                                      <li>
                                        <span>
                                          {{- price_break.minimum_quantity -}}
                                          <span aria-hidden="true">+</span></span
                                        >
                                        {%- assign price = price_break.price | money_with_currency -%}
                                        <span> {{ 'sections.quick_order_list.each' | t: money: price }}</span>
                                      </li>
                                    {%- endfor -%}
                                  </ul>
                                </volume-pricing>
                              {%- endif -%}
                            </div>
                          {%- endif -%}
                          <div class="cart-item__error" id="Line-item-error-{{ item.index | plus: 1 }}" role="alert">
                            <small class="cart-item__error-text"></small>
                            {% render 'icon-cart-error' %}
                          </div>
                        </quantity-popover>
                      </td>
  
                      <td class="cart-item__totals right">
                        <div class="loading-overlay hidden">
                          <div class="loading-overlay__spinner">
                            {% render 'loading-spinner' %}
                          </div>
                        </div>
  
                        <div class="cart-item__price-wrapper">
                          {%- if item.original_line_price != item.final_line_price -%}
                            <dl class="cart-item__discounted-prices">
                              <dt class="visually-hidden">
                                {{ 'products.product.price.regular_price' | t }}
                              </dt>
                              <dd>
                                <s class="cart-item__old-price price price--end">
                                  {{ item.original_line_price | money }}
                                </s>
                              </dd>
                              <dt class="visually-hidden">
                                {{ 'products.product.price.sale_price' | t }}
                              </dt>
                              <dd class="price price--end">
                                {{ item.final_line_price | money }}
                              </dd>
                            </dl>
                          {%- else -%}
                            <span class="price price--end">
                              {{ item.original_line_price | money }}
                            </span>
                          {%- endif -%}
  
                          {%- if item.variant.available and item.unit_price_measurement -%}
                            <div class="unit-price caption">
                              <span class="visually-hidden">{{ 'products.product.price.unit_price' | t }}</span>
                              {{ item.unit_price | money }}
                              <span aria-hidden="true">/</span>
                              <span class="visually-hidden"
                                >&nbsp;{{ 'accessibility.unit_price_separator' | t }}&nbsp;</span
                              >
                              {%- if item.unit_price_measurement.reference_value != 1 -%}
                                {{- item.unit_price_measurement.reference_value -}}
                              {%- endif -%}
                              {{ item.unit_price_measurement.reference_unit }}
                            </div>
                          {%- endif -%}
                        </div>
                      </td>
                    </tr>
                  {%- endfor -%}
                </tbody>
              </table>
            {%- endif -%}
          </div>
        </div>
  
        <p class="visually-hidden" id="cart-live-region-text" aria-live="polite" role="status"></p>
        <p class="visually-hidden" id="shopping-cart-line-item-status" aria-live="polite" aria-hidden="true" role="status">
          {{ 'accessibility.loading' | t }}
        </p>
      </form>
  
      {%- if cart != empty -%}
        <div class="tw-my-[24px] bmd:tw-mt-[4px] bmd:tw-mb-[20px] tw-block lg:tw-block continue-cart">
          <a href="{{ routes.all_products_collection_url }}" class="underlined-link cart-continue-shopping">
            {% render 'icon-left-arrow' class: "tw-inline-block tw-pr-[2px] tw-mb-[2px]" %}
            {{ 'general.continue_shopping' | t }}
          </a>
        </div>
      {%- endif -%}
    </cart-items>
    {% if section.settings.enable_upsell %}
      <div class="upsell-products-cart md:tw-mt-[10px]">
        {% render 'cart-upsell' %}
        {%- if section.settings.show_view_all -%}
          <div class="center tw-flex tw-justify-center tw-mt-[22px] md:tw-mt-[32px] collection__view-all{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
            <a
              href="{{ routes.all_products_collection_url }}"
              class="link tw-flex tw-justify-center tw-items-center tw-font-primary tw-text-[11px] tw-text-[#60919F] md:tw-text-[21px] tw-font-normal tw-underline tw-uppercase underlined-link"
              aria-label="{{ 'sections.featured_collection.view_all_label' | t: collection_name: section.settings.collection.title }}"
            >
              {{ 'sections.featured_collection.view_all' | t }}
            </a>
          </div>
        {%- endif -%}
      </div>
    {% endif %}
  </div>
  {%- if cart != empty -%}
    <div class="cart-section__cart-footer {% if cart == empty %} is-empty{% endif %}" id="main-cart-footer" data-id="{{ section.id }}">
      {% if section.settings.cart_announcement_text != blank %}
        <div class="tw-bg-[#DBD1DE] bmd:tw-hidden md:tw-block tw-font-primary tw-font-normal tw-text-[14px] tw-text-left tw-px-[13px] tw-py-[18px] tw-rounded-[19px] tw-mb-[13px] cart-announcement-text">{{ section.settings.cart_announcement_text | strip }}</div>
      {% endif %}
      <div class="cart-coupan-shipping-totals">
        <div class="cart__footer">
          {%- if settings.show_cart_note -%}
            <cart-note class="cart__note field">
              <label for="Cart-note">{{ 'sections.cart.note' | t }}</label>
              <textarea
                class="text-area field__input"
                name="note"
                form="cart"
                id="Cart-note"
                placeholder="{{ 'sections.cart.note' | t }}"
              >{{ cart.note }}</textarea>
            </cart-note>
          {%- endif -%}

          <div class="cart__blocks tw-w-full tw-bg-[#DCDCAE] tw-px-[22px] md:tw-px-[25px] tw-py-[18px] md:tw-py-[22px] tw-rounded-[24px] md:tw-rounded-[30px]">
            {% for block in section.blocks %}
              {%- case block.type -%}
                {%- when '@app' -%}
                  {% render block %}
                {%- when 'subtotal' -%}
                  <div class="js-cart-footer" {{ block.shopify_attributes }}>
                    <div>
                      {%- if cart.cart_level_discount_applications.size > 0 -%}
                        <ul class="discounts list-unstyled" role="list" aria-label="{{ 'customer.order.discount' | t }}">
                          {%- for discount in cart.cart_level_discount_applications -%}
                            <li class="discounts__discount discounts__discount--position">
                              {%- render 'icon-discount' -%}
                              {{ discount.title }}
                              (-{{ discount.total_allocated_amount | money }})
                            </li>
                          {%- endfor -%}
                        </ul>
                      {%- endif -%}
                    </div>

                    <div class="totals">
                      <h2 class="totals__total tw-uppercase tw-font-primary tw-text-[13px] md:tw-text-[16px] tw-font-medium tw-leading-[15px] md:tw-leading-[19px] tw-text-left tw-pb-[11px] tw-tracking-normal">{{ 'sections.cart.basket_totals' | t }}</h2>

                      <div class="tw-flex tw-gap-[4px]">
                        <p class="coupon-toggle-text tw-flex tw-items-center tw-gap-[8px] tw-pb-[8px]">
                          {% render 'icon-coupon' %}<span class="coupon-toggle-link"> Have A Coupon Code, Click Here</span>
                        </p>
                      </div>

                      <div class="tw-flex tw-justify-between tw-items-center tw-border-y tw-border-solid tw-border-black tw-pt-[8px] tw-pb-[8px]">
                        <h4 class="tw-font-primary tw-text-black tw-text-[12px] md:tw-text-[13px] tw-font-normal tw-leading-[15px] md:tw-leading-[19px] tw-tracking-normal">{{ 'sections.cart.headings.sub_total' | t }}</h4>
                        <p class="totals__total-value tw-font-primary tw-text-black tw-text-[13px] md:tw-text-[15px] tw-font-normal tw-leading-[15px] md:tw-leading-[19px] tw-tracking-normal" id="cart-page-total-price">{{ cart.total_price | money }}</p>
                      </div>
                    </div>
                  </div>
                {%- else -%}
                  <div class="cart__ctas tw-flex-col" {{ block.shopify_attributes }}>
                    <small class="tax-note caption-large rte">
                      {%- if cart.taxes_included and shop.shipping_policy.body != blank -%}
                        {{ 'sections.cart.taxes_included_and_shipping_policy_html' | t: link: shop.shipping_policy.url }}
                      {%- elsif cart.taxes_included -%}
                        {{ 'sections.cart.taxes_shipping_at_checkout' | t }}
                      {%- elsif shop.shipping_policy.body != blank -%}
                        {{ 'sections.cart.taxes_and_shipping_policy_at_checkout_html' | t: link: shop.shipping_policy.url }}
                      {%- else -%}
                        {{ 'sections.cart.taxes_and_shipping_at_checkout' | t }}
                      {%- endif -%}
                    </small>

                    <noscript>
                      <button type="submit" class="cart__update-button button button--secondary" form="cart">
                        {{ 'sections.cart.update' | t }}
                      </button>
                    </noscript>

                    <button
                      type="submit"
                      id="checkout"
                      class="cart__checkout-button button tw-bg-bright-red tw-uppercase tw-font-bold tw-text-[9px] md:tw-text-[16px] tw-min-h-[38px]"
                      name="checkout"
                      {% if cart == empty %}
                        disabled
                      {% endif %}
                      form="cart"
                    >
                      <span class="tw-pr-[8px]">{{ 'sections.cart.checkout' | t }}</span>
                      {% render 'icon-checkout-arrow' class:"bmd:tw-w-[10px] bmd:tw-h-[10px] bmd:tw-mb-[2px]" %}
                    </button>

                    <div class="tw-flex tw-items-center tw-justify-center payment-icons-cart">
                      {%- if section.settings.payment_enable -%}
                        <div>
                          <span class="visually-hidden">{{ 'sections.footer.payment' | t }}</span>
                          <ul class="list list-payment" role="list">
                            {%- for type in shop.enabled_payment_types -%}
                              <li class="list-payment__item tw-px-[1.4px] md:tw-p-[2.4px]">
                                {{ type | payment_type_svg_tag: class: 'icon icon--full-color tw-h-[28px] tw-w-[46px] md:tw-w-[48px] md:tw-h-[30px]' }}
                              </li>
                            {%- endfor -%}
                          </ul>
                        </div>
                      {%- endif -%}
                    </div>
                  </div>

                  {%- if additional_checkout_buttons -%}
                    <div class="cart__dynamic-checkout-buttons additional-checkout-buttons">
                      {{ content_for_additional_checkout_buttons }}
                    </div>
                  {%- endif -%}
              {%- endcase -%}
            {% endfor %}

            <div id="cart-errors"></div>
          </div>
        </div>
      </div>
    </div>
  {%- endif -%}
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    function isIE() {
      const ua = window.navigator.userAgent;
      const msie = ua.indexOf('MSIE ');
      const trident = ua.indexOf('Trident/');

      return msie > 0 || trident > 0;
    }

    if (!isIE()) return;
    const cartSubmitInput = document.createElement('input');
    cartSubmitInput.setAttribute('name', 'checkout');
    cartSubmitInput.setAttribute('type', 'hidden');
    document.querySelector('#cart').appendChild(cartSubmitInput);
    document.querySelector('#checkout').addEventListener('click', function (event) {
      document.querySelector('#cart').submit();
    });
  });
</script>

{% schema %}
{
  "name": "Cart page section",
  "class": "cart__footer-wrapper",
  "settings": [
    {
      "type": "richtext",
      "id": "cart_announcement_text",
      "default": "<p>For all Special Deliveries, orders must be placed on weekdays before 2pm for same-day dispatch!</p>",
      "label": "Announcement text"
    },
    {
      "type": "header",
      "content": "Cart upsell"
    },
    {
      "type": "checkbox",
      "id": "enable_upsell",
      "label": "Enable upsell",
      "default": true
    },
    {
      "type": "inline_richtext",
      "id": "upsell_heading",
      "default": "You may also like",
      "label": "Upsell heading"
    },
    {
      "type": "range",
      "id": "limit_upsell_products",
      "min": 1,
      "max": 10,
      "step": 1,
      "label": "Limit upsell products",
      "default": 10
    },
    {
      "type": "checkbox",
      "id": "enable_dynamic_product_recommendations",
      "label": "Enable dynamic product recommendations",
      "default": true,
      "info": "Uses Product Recommendations API to recommend related products for all cart products. Upsell blocks will cease to function if this is turned on."
    }, 
    {
      "type": "select",
      "id": "recommendation_intent",
      "options": [
        {
          "value": "related",
          "label": "Related"
        }, {
          "value": "complementary",
          "label": "Complementary"
        }
      ],
      "default": "related",
      "label": "Recommendation intent",
      "info": "Shopify offers two types of product recommendations: related and complementary. Related recommendations suggest similar products, while complementary recommendations suggest products that go well together. Shopify generates related recommendations, but complementary ones need manual setup using the Shopify Search & Discovery app. [Learn more](https://shopify.dev/docs/themes/product-merchandising/recommendations#recommendation-intents)"
    },
    {
      "type":"header",
      "content":"Carousel Settings"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme_upsell",
      "label": "t:sections.all.colors.label",
      "default": "background-1"
    },
    {
        "type": "checkbox",
        "id":"show_arrows",
        "label": "Show arrows on desktop",
        "default": true
    },
    {
        "type": "checkbox",
        "id":"show_arrows_on_mobile",
        "label": "Show arrows on mobile",
        "default": true
    },
    {
        "type": "checkbox",
        "id":"show_dots",
        "label": "Show dots on desktop",
        "default": true
    },
    {
        "type": "checkbox",
        "id":"show_dots_on_mobile",
        "label": "Show dots on mobile",
        "default": true
    },
    {
        "type": "checkbox",
        "id":"enable_autoplay",
        "label": "Autoplay",
        "default": false
    },
    {
      "type": "checkbox",
      "id": "show_view_all",
      "default": true,
      "label": "t:sections.featured-collection.settings.show_view_all.label"
    },
    {
        "type":"range",
        "id": "autoplay_speed",
        "label": "Autoplay interval",
        "min": 2,
        "max": 6,
        "default": 3,
        "info": "Default 3s"
    },
    {
      "type": "range",
      "id": "desktop_per_page",
      "min": 1,
      "max": 5,
      "step": 1,
      "unit": "itm",
      "label": "Carousal items on desktop",
      "default": 4
    },
    {
      "type": "range",
      "id": "mobile_per_page",
      "min": 1,
      "max": 3,
      "step": 1,
      "unit": "itm",
      "label": "Carousal items on mobile",
      "default": 2
    },
    {
      "type": "range",
      "id": "mobile_padding_left",
      "min": 0,
      "max": 80,
      "step": 10,
      "unit": "%",
      "label": "Slight left gap for previous item peek",
      "default": 0
    },
    {
      "type": "range",
      "id": "mobile_padding_right",
      "min": 0,
      "max": 80,
      "step": 10,
      "unit": "%",
      "label": "Slight right gap for next item peek",
      "default": 20
    },
    {
      "type": "range",
      "id": "desktop_padding_left",
      "min": 0,
      "max": 80,
      "step": 10,
      "unit": "%",
      "label": "Slight left gap for previous item peek",
      "default": 0
    },
    {
      "type": "range",
      "id": "desktop_padding_right",
      "min": 0,
      "max": 80,
      "step": 10,
      "unit": "%",
      "label": "Slight right gap for next item peek",
      "default": 20
    },
    {
      "type": "range",
      "id": "gap_between_slides_on_desktop",
      "min": 1,
      "max": 4,
      "step": 1,
      "unit": "rem",
      "label": "Gap between slides on desktop",
      "default": 2
    },
    {
      "type": "range",
      "id": "gap_between_slides_on_mobile",
      "min": 1,
      "max": 4,
      "step": 1,
      "unit": "rem",
      "label": "Gap between slides on mobile",
      "default": 2
    },
    {
      "type": "checkbox",
      "id": "payment_enable",
      "label": "Show payment icons",
      "default": false
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_top_mob",
      "min": 0,
      "max": 60,
      "step": 1,
      "unit": "px",
      "label": "Padding top mobile",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_bottom_mob",
      "min": 0,
      "max": 60,
      "step": 1,
      "unit": "px",
      "label": "Padding bottom mobile",
      "default": 20
    }
  ],
  "blocks": [
    {
      "type": "subtotal",
      "name": "t:sections.main-cart-footer.blocks.subtotal.name",
      "limit": 1
    },
    {
      "type": "buttons",
      "name": "t:sections.main-cart-footer.blocks.buttons.name",
      "limit": 1
    },
    {
      "type": "@app"
    }
  ]
}
{% endschema %}
