{{ 'product-tabs-switch.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .padding-{{ section.id }} {
    padding-top: {{ section.settings.mobile_padding_top | append: 'px' }};
    padding-bottom: {{ section.settings.mobile_padding_bottom | append: 'px' }};
  }
  @media screen and (min-width: 750px) {
    .padding-{{ section.id }} {
      padding-top: {{ section.settings.desktop_padding_top | append: 'px' }};
      padding-bottom: {{ section.settings.desktop_padding_bottom | append: 'px' }};
    }
  }
  {% if section.blocks.size > 0 %}
    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when 'ingredients' -%}
          .ingredients-block-order {
            order: {{ block.settings.ingredients_order }};
          }
          .information-block-order {
            order: {{ block.settings.information_order }};
          }
          .button-block-order {
            order: {{ block.settings.button_order }};
          }
        {%- when 'instructions_disclaimer' -%}
          .importance-block-order {
            order: {{ block.settings.importance_order }};
          }
          .disclaimer-block-order {
            order: {{ block.settings.disclaimer_order }};
          }
          .news-block-order {
            order: {{ block.settings.news_order }};
          }
          .instructions-block-order {
            order: {{ block.settings.instructions_order }};
          }
          .usp-img-block-order {
            order: {{ block.settings.usp_img_order }};
          }
          .footer-text-block-order {
            order: {{ block.settings.footer_text_order }};
          }
      {% endcase %}
    {% endfor %}
  {% endif %}
{%- endstyle -%}

<div data-title="{{ section.settings.tab_name |  handleize }}" class="hidden tw-hidden lg:tw-block tab-switch-page-width tw-px-[25px] md:tw-px-[147px] page-width mobile-accordian-content">
  <div class="tab-switch-content">
    {% if section.blocks.size > 0 %}
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'text' -%}
            {% if block.settings.text != blank %}
              <h1 class="tw-font-primary tw-text-[22px] lg:tw-text-[38px] lg:tw-mb-[50px] tw-my-[20px] lg:tw-my-[50px] tw-text-bright-red tw-font-semibold blg:tw-leading-[30px]">{{ block.settings.text | replace: '<p>', '' | replace: '</p>', '' }}</h1>
            {% endif %}

          {%- when 'ingredients' -%}
            {% assign multiline_text = block.settings.multiline_text
              | split: '[*' | join: '<span class="red-color-bold">'
              | split: '*]' | join: '</span>'
              | split: '[' | join: '<span class="red-color">'
              | split: ']' | join: '</span>'
            %}            
            <div class="tw-flex {% if block.settings.ingredients_blocks_swap == true %}lg:tw-flex-row-reverse{% else %}lg:tw-flex-row{% endif %} tw-flex-col lg:tw-gap-x-[4.4%] tw-mt-[20px] tw-my-[20px] lg:tw-my-[50px] blg:tw-gap-y-[20px]">
              {% if multiline_text != blank %}
                <div class="lg:tw-basis-[50%] tw-basis-[100%] tw-flex-grow tw-font-secondary tw-text-black tw-text-[15px] lg:tw-text-[18px] tw-leading-[22px] lg:tw-leading-[28px]">
                  {{ multiline_text | replace: '<p>', '' | replace: '</p>', '' }}
                </div>
              {% endif %}
              {% if block.settings.ingredients_para != blank or block.settings.informations_table != blank or block.settings.button_text != blank  %}
                <div class="lg:tw-basis-[50%] tw-basis-[100%] tw-flex-grow tw-flex tw-flex-col tw-gap-[20px] lg:tw-gap-[40px]">
                  {% if block.settings.ingredients_heading != blank or block.settings.ingredients_para != blank  %}
                    <div class="ingredients-block-order">
                      <h4 class="tw-font-primary tw-text-center tw-text-white tw-bg-bright-red tw-text-[16px] lg:tw-text-[22px] tw-font-semibold tw-py-[14px] lg:tw-py-[20px] tw-rounded-t-[20px] md:tw-rounded-t-[41px]">{{ block.settings.ingredients_heading }}</h4>
                      <p class="tw-font-primary tw-text-[13px] lg:tw-text-[16px] tw-font-medium tw-leading-[22px] lg:tw-leading-[28px] tw-p-[20px] lg:tw-p-[30px] tw-text-black tw-bg-white tw-rounded-b-[20px] md:tw-rounded-b-[41px]">{{ block.settings.ingredients_para | replace: '<p>', '' | replace: '</p>', '' }}</p>
                    </div>
                  {% endif %}
                  {% if block.settings.informations_table != blank %}
                    <div class="tw-bg-white tw-rounded-[20px] md:tw-rounded-[41px] information-block-order">
                      {% if block.settings.informations_heading != blank %}
                        <h4 class="tw-font-primary tw-text-center tw-text-white tw-bg-bright-red tw-text-[16px] lg:tw-text-[22px] tw-font-semibold tw-py-[14px] lg:tw-py-[20px] tw-rounded-t-[20px] md:tw-rounded-t-[41px]">{{ block.settings.informations_heading }}</h4>
                      {% endif %}
                      <div class="tw-p-[10px] lg:tw-p-[18px]">
                        {% assign informations_table = block.settings.informations_table | replace: '<p>', '' | replace: '</p>', '' | split: "\n" %}
                        {% assign headers = informations_table[0] | split: "|" %}
                        {% assign rows = informations_table | slice: 1, informations_table.size %}
                        <table class="tw-w-full product-information-table">
                          <thead>
                            <tr>
                              {% for header in headers %}
                                <th class="tw-font-primary tw-text-[14px] lg:tw-text-[19px] tw-font-medium tw-text-left tw-text-bright-red">{{ header }}</th>
                              {% endfor %}
                            </tr>
                          </thead>
                          <tbody>
                            {% for row in rows %}
                              {% assign columns = row | split: "|" %}
                              <tr>
                                {% for column in columns %}
                                  <td class="tw-font-primary tw-text-[13px] lg:tw-text-[18px] tw-font-normal tw-text-black tw-text-left tw-py-[10px] lg:tw-py-[17px]">{{ column | replace: "<br />", "" | strip }}</td>
                                {% endfor %}
                              </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                      </div>
                      {% if block.settings.table_desc != blank %}
                        <p class="tw-p-[18px] lg:tw-p-[16px] tw-pl-[20px] lg:tw-pl-[54px] tw-pt-0 tw-font-primary tw-text-black tw-text-[13px] lg:tw-text-[16px] tw-font-normal tw-leading-[18px] lg:tw-leading-[24px]">{{ block.settings.table_desc | replace: '<p>', '' | replace: '</p>', '' }}</p>
                      {% endif %}
                    </div>
                  {% endif %}
                  {% if block.settings.button_text != blank %}
                    <div class="tw-mt-[12px] button-block-order">
                      <a href="{{ block.settings.button_link }}" class="tw-font-primary tw-text-[14px] lg:tw-text-[18px] tw-uppercase tw-font-normal tw-py-[8px] lg:tw-py-[12px] tw-px-[22px] lg:tw-px-[34px] tw-rounded-[39px] tw-text-center tw-text-white tw-bg-bright-red">{{ block.settings.button_text }}</a>
                    </div>
                  {% endif %}
                </div>
              {% endif %}
            </div>

          {%- when 'banner_text' -%}
            {% if block.settings.banner_text != blank %} 
              <div class="tw-bg-bright-red tw-rounded-[23px] tw-my-[20px] lg:tw-my-[50px] blg:tw-mt-[30px]">
                <div class="tw-font-primary tw-text-center tw-text-white tw-font-light tw-text-[14px] lg:tw-text-[24px] tw-leading-[22px] lg:tw-leading-[36px] tw-py-[20px] lg:tw-py-[40px] tw-w-[75%] tw-m-auto">{{ block.settings.banner_text | replace: '<p>', '' | replace: '</p>', '' }}</div>
              </div>
            {% endif %}

          {%- when 'faq_block' -%}              
            {% assign faq_blocks = '' %}
            {% if block.settings.faq_heading %}
              {% assign faq_blocks = faq_blocks | append: block.settings.faq_heading | append: '||' %}
            {% endif %}
            {% if block.settings.faq_left_box %}
              {% assign faq_blocks = faq_blocks | append: block.settings.faq_left_box | append: '||' %}
            {% endif %}
            {% if block.settings.faq_right_box %}
              {% assign faq_blocks = faq_blocks | append: block.settings.faq_right_box | append: '||' %}
            {% endif %}
            {% assign faq_blocks = faq_blocks | split: '||' %}

            {% if faq_blocks.size > 0 %}
              <div class="tw-my-[20px] lg:tw-my-[50px]">
                {% for faq in faq_blocks %}
                  {% assign formatted_faq = faq
                    | split: '[**' | join: '<span class="faq-black-bold">'
                    | split: '**]' | join: '</span>'
                    | split: '[*' | join: '<span class="faq-red-bold">'
                    | split: '*]' | join: '</span>'
                    | split: '[/*' | join: '<span class="faq-red-medium">'
                    | split: '*/]' | join: '</span>'
                    | split: '[/' | join: '<span class="faq-red-italic">'
                    | split: '/]' | join: '</span>'
                    | split: '[' | join: '<span class="red-color">'
                    | split: ']' | join: '</span>'
                  %}
                  {% if forloop.index == 1 %}
                    <h3 class="tw-font-primary tw-text-25px lg:tw-text-[32px] tw-font-medium tw-leading-normal tw-pb-[12px] lg:tw-pb-[30px]">{{ formatted_faq }}</h3>
                  {% elsif forloop.index == 2 %}
                    <div class="tw-flex lg:tw-gap-x-[4.4%] blg:tw-flex-col blg:tw-gap-y-[20px]">
                      <div class="lg:tw-basis-[50%] tw-basis-[100%] tw-flex-grow tw-font-secondary tw-text-black tw-text-[15px] lg:tw-text-[18px] tw-leading-[22px] lg:tw-leading-[30px] tw-font-normal">
                        {{ formatted_faq | replace: '<p>', '' | replace: '</p>', '' }}
                      </div>
                  {% elsif forloop.index == 3 %}
                      <div class="lg:tw-basis-[50%] tw-basis-[100%] tw-flex-grow tw-font-secondary tw-text-black tw-text-[15px] lg:tw-text-[18px] tw-leading-[22px] lg:tw-leading-[30px] tw-font-normal">
                        {{ formatted_faq | replace: '<p>', '' | replace: '</p>', '' }}
                      </div>
                    </div>
                  {% endif %}
                {% endfor %}
              </div>
            {% endif %}
            
          {%- when 'reviews_block' -%}
            {% assign review_blocks = '' %}
            {% if block.settings.review_1 != blank %}
              {% assign review_blocks = review_blocks | append: block.settings.review_1 | append: '||' %}
            {% endif %}
            {% if block.settings.review_2 != blank %}
              {% assign review_blocks = review_blocks | append: block.settings.review_2 | append: '||' %}
            {% endif %}
            {% if block.settings.review_3 != blank %}
              {% assign review_blocks = review_blocks | append: block.settings.review_3 | append: '||' %}
            {% endif %}
            {% if block.settings.review_4 != blank %}
              {% assign review_blocks = review_blocks | append: block.settings.review_4 | append: '||' %}
            {% endif %}
            {% assign review_blocks = review_blocks | split: '||' %}

            <div class="tw-flex tw-flex-wrap lg:tw-gap-x-[4.4%] tw-gap-y-[20px] lg:tw-gap-y-[40px] tw-my-[20px] lg:tw-my-[50px]">
              {% for review in review_blocks %}
                {% if review != '' %}
                  {% assign formatted_review = review
                    | split: '[*' | join: '<span class="review-red-bold">'
                    | split: '*]' | join: '</span>'
                    | split: '[' | join: '<span class="red-color">'
                    | split: ']' | join: '</span>'
                  %}
                  <div class="tw-flex-grow lg:tw-w-[47.8%] tw-w-full tw-font-secondary tw-text-[14px] lg:tw-text-[18px] tw-font-normal tw-not-italic tw-p-[20px] lg:tw-p-[44px] tw-rounded-[20px] md:tw-rounded-[40px] tw-leading-[24px] lg:tw-leading-[30px] tw-bg-white tw-text-black tw-flex tw-items-center">
                    {{ formatted_review | replace: '<p>', '' | replace: '</p>', '' | replace: '<br>', '' }}
                  </div>
                {% endif %}
              {% endfor %}
            </div>

          {%- when 'instructions_disclaimer' -%}
            {% assign importance_text = block.settings.importance_text
              | split: '[*' | join: '<span class="red-color-bolder">'
              | split: '*]' | join: '</span>'
              | split: '[' | join: '<span class="red-color">'
              | split: ']' | join: '</span>'
            %}    
            {% assign disclaimer = block.settings.disclaimer
              | split: '[*' | join: '<span class="black-color-bolder">'
              | split: '*]' | join: '</span>'
            %}
            {% assign instructions_desc = block.settings.instructions_desc
              | split: '[**' | join: '<span class="instr-black-color-bolder">'
              | split: '**]' | join: '</span>'
              | split: '[*' | join: '<span class="instr-red-color-bolder">'
              | split: '*]' | join: '</span>'
              | split: '[/*' | join: '<span class="instr-red-italic-bolder">'
              | split: '*/]' | join: '</span>'
              | split: '[/' | join: '<span class="instr-red-size-bolder">'
              | split: '/]' | join: '</span>'
              | split: '[' | join: '<span class="red-color">'
              | split: ']' | join: '</span>'
            %}
            <div class="tw-flex tw-flex-col {% if block.settings.disclaimer_blocks_swap == true %}lg:tw-flex-row-reverse{% else %}lg:tw-flex-row{% endif %} lg:tw-gap-x-[4.4%] tw-my-[20px] lg:tw-my-[50px] blg:tw-gap-y-[20px]">
              {% if importance_text != blank or disclaimer != blank or block.settings.news_content != blank %}
                <div class="lg:tw-basis-[50%] tw-basis-[100%] tw-flex-grow tw-flex tw-flex-col tw-gap-[20px] lg:tw-gap-[60px]">
                  {% if importance_text != blank %}
                    <div class="importance-block-order tw-font-secondary tw-text-[14px] lg:tw-text-[18px] tw-font-normal tw-leading-[22px] lg:tw-leading-[32px] tw-text-black">{{ importance_text | replace: '<p>', '' | replace: '</p>', '' }}</div>
                  {% endif %}
                  {% if disclaimer != blank %}
                    <div class="disclaimer-block-order tw-font-secondary tw-text-[14px] lg:tw-text-[18px] tw-italic tw-leading-[22px] lg:tw-leading-[32px] tw-font-normal tw-text-black tw-border-4 tw-border-solid tw-border-bright-red tw-rounded-[20px] md:tw-rounded-[40px] tw-px-[26px] lg:tw-px-[40px] tw-py-[30px] lg:tw-py-[38px]">{{ disclaimer | replace: '<p>', '' | replace: '</p>', '' }}</div>
                  {% endif %}
                  {% if block.settings.news_content != blank %}
                    <div class="news-block-order tw-px-[20px] lg:tw-px-[44px] tw-py-[24px] lg:tw-py-[54px] tw-bg-white tw-rounded-[20px] md:tw-rounded-[40px]">
                      {% if block.settings.news_logo %}
                        <div class="tw-w-[90px] lg:tw-w-[166px]"> <img src="{{ block.settings.news_logo | img_url: '' }}" alt='news-logo' class="tw-w-full" /> </div>
                      {% endif %}
                      {% if block.settings.news_heading != blank %}
                        <div class="tw-font-secondary tw-text-bright-red tw-text-[20px] lg:tw-text-[36px] tw-font-bold tw-leading-[22px] lg:tw-leading-[44px] tw-mt-[12px] lg:tw-mt-[28px] tw-mb-[10px]">{{ block.settings.news_heading }}</div>
                      {% endif %}
                      {% if block.settings.news_date_author != blank %}
                        <div class="tw-font-secondary tw-text-[#595959] tw-text-[10px] lg:tw-text-[17px] tw-italic tw-font-normal tw-leading-[16px] lg:tw-leading-[22px] tw-mt-[10px] tw-mb-[12px] lg:tw-mb-[32px]">{{ block.settings.news_date_author | replace: '<p>', '' | replace: '</p>', '' }}</div>
                      {% endif %}
                      {% if block.settings.news_title != blank %}
                        <div class="tw-font-secondary tw-text-bright-red tw-text-[14px] lg:tw-text-[19px] tw-font-bold tw-leading-[20px] lg:tw-leading-[26px] tw-mt-[12px] lg:tw-mt-[32px] tw-mb-[12px]">{{ block.settings.news_title }}</div>
                      {% endif %}
                      <div class="tw-font-secondary tw-text-[#595959] tw-text-[13px] lg:tw-text-[18px] tw-not-italic tw-font-normal tw-leading-[22px] lg:tw-leading-[32px] tw-mt-[12px]">{{ block.settings.news_content | replace: '<p>', '' | replace: '</p>', '' }}</div>
                    </div>
                  {% endif %}
                </div>
              {% endif %}
              {% if instructions_desc != blank or block.settings.footer_text != blank or block.settings.usp_img != blank %}
                <div class="lg:tw-basis-[50%] tw-basis-[100%] tw-flex-grow tw-flex tw-flex-col tw-gap-[20px] lg:tw-gap-[60px]">
                  {% if instructions_desc != blank %}
                    <div class="instructions-block-order">
                      <h4 class="tw-font-primary tw-text-center tw-text-white tw-bg-bright-red tw-text-[16px] lg:tw-text-[22px] tw-font-semibold tw-py-[14px] lg:tw-py-[20px] tw-rounded-t-[20px] md:tw-rounded-t-[41px]">{{ block.settings.instructions_heading }}</h4>
                      <div class="tw-font-secondary tw-bg-white tw-text-[#595959] tw-text-[14px] lg:tw-text-[18px] tw-font-normal tw-leading-[22px] lg:tw-leading-[30px] tw-p-[20px] lg:tw-p-[37px] tw-rounded-b-[20px] md:tw-rounded-b-[41px]">{{ instructions_desc | replace: '<p>', '' | replace: '</p>', '' }}</div>
                    </div>
                  {% endif %}
                  {% if block.settings.usp_img != blank %}
                    <div class="usp-img-block-order">
                      <img src="{{ block.settings.usp_img | img_url: '' }}" alt='usp' />
                    </div>
                  {% endif %}
                  {% if block.settings.footer_text != blank %}
                    <div class="footer-text-block-order tw-font-secondary tw-text-black tw-text-[13px] lg:tw-text-[18px] tw-font-normal tw-leading-[22px] lg:tw-leading-[30px]">{{ block.settings.footer_text | replace: '<p>', '' | replace: '</p>', '' }}</div>
                  {% endif %}
                </div>
              {% endif %}
            </div>

          {%- when 'list_block' -%}
            <div class="tw-my-[20px] lg:tw-my-[50px]">
              {% if block.settings.list_heading != blank %}
                <div class="tw-font-primary tw-text-center tw-text-white tw-bg-bright-red tw-text-[16px] lg:tw-text-[22px] tw-font-semibold tw-py-[14px] lg:tw-py-[18px] tw-rounded-t-[20px] md:tw-rounded-t-[41px]">
                  {{ block.settings.list_heading }}
                </div>
              {% endif %}
              {% if block.settings.list_content_1 != blank or block.settings.list_content_2 != blank or block.settings.list_content_3 != blank %}
                <div class="tw-flex tw-bg-white tw-rounded-b-[20px] md:tw-rounded-b-[41px] tw-py-[24px] lg:tw-py-[30px] tw-flex-col md:tw-flex-row bmd:tw-gap-y-[20px]">
                  {% if block.settings.list_content_1 != blank %}
                    <div class="list-column tw-flex-grow tw-font-primary tw-text-bright-red tw-text-[15px] lg:tw-text-[18px] tw-font-medium tw-leading-[28px] md:tw-leading-[38px] tw-pl-[5.4%]">
                      {{ block.settings.list_content_1 | replace: '<p>', '' | replace: '</p>', '' }}
                    </div>
                  {% endif %}
                  {% if block.settings.list_content_2 != blank %}
                    <div class="list-column tw-flex-grow tw-font-primary tw-text-bright-red tw-text-[15px] lg:tw-text-[18px] tw-font-medium tw-leading-[28px] md:tw-leading-[38px] tw-pl-[5.4%]">
                      {{ block.settings.list_content_2 | replace: '<p>', '' | replace: '</p>', '' }}
                    </div>
                  {% endif %}
                  {% if block.settings.list_content_3 != blank %}
                    <div class="list-column tw-flex-grow tw-font-primary tw-text-bright-red tw-text-[15px] lg:tw-text-[18px] tw-font-medium tw-leading-[28px] md:tw-leading-[38px] tw-pl-[5.4%]">
                      {{ block.settings.list_content_3 | replace: '<p>', '' | replace: '</p>', '' }}
                    </div>
                  {% endif %}
                </div>
              {% endif %}
            </div>
            
          {%- when 'media' -%}
            {% assign url = block.settings.video_link %}
            {% assign url_parts = url | split: 'v=' %}
            {% assign video_id = url_parts.last | split: '&' | first %}
            <div class="tw-relative tw-my-[20px] lg:tw-my-[50px]">
              {% if block.settings.video != blank %}
                <video-autoplay>
                  {{
                    block.settings.video
                    | video_tag:
                      image_size: '1100x',
                      muted: true,
                      loop: true,
                      class: 'product-tab-video tw-w-[100%] tw-object-cover'
                  }}
                </video-autoplay>
              {%- elsif block.settings.cover_desktop_image != blank and video_id != blank-%}
                <youtube-banner>
                  <div class="tw-h-full tw-w-full tw-flex tw-items-center tw-justify-center video-cover tw-z-10">
                    {% render 'responsive-picture',
                      desktopImage: block.settings.cover_desktop_image,
                      mobileImage: block.settings.cover_mobile_image
                    %}
                    <div class="tw-cursor-pointer tw-absolute video-play-icon tw-h-[60px] tw-w-[60px]">
                      {% render 'icon-play', class: "tw-h-full tw-w-full" %}
                    </div>
                    <iframe
                      src="https://www.youtube.com/embed/{{ video_id }}?enablejsapi=1&controls=0&loop=1&playlist={{ video_id }}"
                      class="js-youtube tw-h-full tw-w-full tw-absolute show-banner-video"
                      allow="autoplay; encrypted-media"
                      allowfullscreen
                      data-custom-attribute="true"
                    ></iframe>
                  </div>
                </youtube-banner>
              {%- elsif video_id != blank-%}
                <div class="iframe-container">
                  <iframe
                    src="https://www.youtube.com/embed/{{ video_id }}?enablejsapi=1&controls=0&loop=1&playlist={{ video_id }}"
                    class="js-youtube tw-h-full tw-w-full tw-max-h-[615px]"
                    allow="autoplay; encrypted-media"
                    allowfullscreen
                    data-custom-attribute="true"
                  ></iframe>
                </div>
              {%- elsif block.settings.cover_desktop_image != blank -%}
                {% render 'responsive-picture',
                  desktopImage: block.settings.cover_desktop_image,
                  mobileImage: block.settings.cover_mobile_image
                %}
              {%- endif -%}
            </div>
          {% when "description" %}
            {% if block.settings.show_description == true %}
              <div class="product-description-tab">
                {{ product.description }}
              </div>
            {% endif %}
          {% endcase %}
      {% endfor %}
    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "Tab switch content",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "tab_name",
      "label": "Tab name",
      "default": "Tab name"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "desktop_padding_top",
      "label": "Padding top (Desktop)",
      "default": 30,
      "min": 0,
      "max": 100,
      "step": 1
    },
    {
      "type": "range",
      "id": "desktop_padding_bottom",
      "label": "Padding bottom (Desktop)",
      "default": 30,
      "min": 0,
      "max": 100,
      "step": 1
    },
    {
      "type": "range",
      "id": "mobile_padding_top",
      "label": "Padding top (Mobile)",
      "default": 10,
      "min": 0,
      "max": 100,
      "step": 1
    },
    {
      "type": "range",
      "id": "mobile_padding_bottom",
      "label": "Padding bottom (Mobile)",
      "default": 10,
      "min": 0,
      "max": 100,
      "step": 1
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Heading Text",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>OxyTech by Dulwich Health - 180 Capsules</p>"
        }
      ]
    },
    {
      "type": "ingredients",
      "name": "Ingredients block",
      "settings": [
        {
          "type": "richtext",
          "id": "multiline_text",
          "label": "Multiline Text",
          "default": "<p>Multiline Text</p>"
        },
        {
          "type": "checkbox",
          "id": "ingredients_blocks_swap",
          "label": "Swap blocks left to right side",
          "default": false
        },
        {
          "type": "header",
          "content": "Product ingredients"
        },
        {
          "type": "text",
          "id": "ingredients_heading",
          "label": "Heading",
          "default": "Ingredients"
        },
        {
          "type": "richtext",
          "id": "ingredients_para",
          "label": "Paragraph",
          "default": "<p>Hydroxproplymethyl Cellulose (Capsule Shell), Magnesium Hydroxide, Vitamin C (as Ascorbic Acid), Citrus Bioflavonoids, Sodium Bicarbonate, Rice Flour.</p>"
        },
        {
          "type": "select",
          "id": "ingredients_order",
          "label": "Order of Product ingredients",
          "options": [
            {
              "value": "1",
              "label": "1"
            },
            {
              "value": "2",
              "label": "2"
            },
            {
              "value": "3",
              "label": "3"
            }
          ],
          "default": "1"
        },
        {
          "type": "header",
          "content": "Product information"
        },
        {
          "type": "text",
          "id": "informations_heading",
          "label": "Heading",
          "default": "Product Information"
        },
        {
          "type": "richtext",
          "id": "informations_table",
          "label": "Table"
        },
        {
          "type": "richtext",
          "id": "table_desc",
          "label": "Table description"
        },
        {
          "type": "select",
          "id": "information_order",
          "label": "Order of Product information",
          "options": [
            {
              "value": "1",
              "label": "1"
            },
            {
              "value": "2",
              "label": "2"
            },
            {
              "value": "3",
              "label": "3"
            }
          ],
          "default": "2"
        },
        {
          "type": "header",
          "content": "Button"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button text",
          "default": "CLICK TO DOWNLOAD PDF"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button link"
        },
        {
          "type": "select",
          "id": "button_order",
          "label": "Order of Button",
          "options": [
            {
              "value": "1",
              "label": "1"
            },
            {
              "value": "2",
              "label": "2"
            },
            {
              "value": "3",
              "label": "3"
            }
          ],
          "default": "3"
        },
      ]
    },
    {
      "type": "banner_text",
      "name": "Banner text",
      "settings": [
        {
          "type": "richtext",
          "id": "banner_text",
          "label": "Banner text",
          "default": "<p>FULL MONEY BACK GUARANTEE: If you feel that you have not benefited from taking 150 OxyTech capsules, you can return the balance for a full refund.</p>"
        }
      ]
    },
    {
      "type": "faq_block",
      "name": "FAQ block",
      "settings": [
        {
          "type": "text",
          "id": "faq_heading",
          "label": "Heading",
          "default": "Some questions often asked:"
        },
        {
          "type": "richtext",
          "id": "faq_left_box",
          "label": "Left container text",
          "default": "<p>Left container text</p>"
        },
        {
          "type": "richtext",
          "id": "faq_right_box",
          "label": "Right container text",
          "default": "<p>Right container text</p>"
        }
      ]
    },
    {
      "type": "reviews_block",
      "name": "Reviews block",
      "settings": [
        {
          "type": "richtext",
          "id": "review_1",
          "label": "Review 1",
          "default": "<p>“I have always suffered from severe constipation and no matter what medication the Doctor give me it doesn’t work. OxyTech is absolutely brilliant. I usually have to take 4 sometimes 5 every night but it definately works. I am really happy with the product.” - Pam Ward</p>"
        },
        {
          "type": "richtext",
          "id": "review_2",
          "label": "Review 2",
          "default": "<p>“I have always suffered from severe constipation and no matter what medication the Doctor give me it doesn’t work. OxyTech is absolutely brilliant. I usually have to take 4 sometimes 5 every night but it definately works. I am really happy with the product.” - Pam Ward</p>"
        },
        {
          "type": "richtext",
          "id": "review_3",
          "label": "Review 3",
          "default": "<p>“I have always suffered from severe constipation and no matter what medication the Doctor give me it doesn’t work. OxyTech is absolutely brilliant. I usually have to take 4 sometimes 5 every night but it definately works. I am really happy with the product.” - Pam Ward</p>"
        },
        {
          "type": "richtext",
          "id": "review_4",
          "label": "Review 4",
          "default": "<p>“I have always suffered from severe constipation and no matter what medication the Doctor give me it doesn’t work. OxyTech is absolutely brilliant. I usually have to take 4 sometimes 5 every night but it definately works. I am really happy with the product.” - Pam Ward</p>"
        }
      ]
    },
    {
      "type": "instructions_disclaimer",
      "name": "Instructions Disclaimer",
      "settings": [
        {
          "type": "checkbox",
          "id": "disclaimer_blocks_swap",
          "label": "Swap blocks left to right side",
          "default": false
        },
        {
          "type": "header",
          "content": "1st block"
        },
        {
          "type": "richtext",
          "id": "importance_text",
          "label": "Multiline text",
          "default": "<p>Multiline text</p>"
        },
        {
          "type": "select",
          "id": "importance_order",
          "label": "Order of Multiline text",
          "options": [
            {
              "value": "1",
              "label": "1"
            },
            {
              "value": "2",
              "label": "2"
            },
            {
              "value": "3",
              "label": "3"
            }
          ],
          "default": "1"
        },
        {
          "type": "richtext",
          "id": "disclaimer",
          "label": "Disclaimer",
          "default": "<p>Disclaimer: As a manufacturer, Dulwich Health Ltd. is unable to make claim to diagnose, treat, cure or prevent disease. The information provided is not intended as medical advice and holds no guarantees. As with all other supplementary alternative products, it shouldn’t be used to replace conventional medical care without consulting your healthcare provider. The benefits of Dulwich Health Ltd. products are based on testimonials, personal and commercial experience.</p>"
        },
        {
          "type": "select",
          "id": "disclaimer_order",
          "label": "Order of Disclaimer",
          "options": [
            {
              "value": "1",
              "label": "1"
            },
            {
              "value": "2",
              "label": "2"
            },
            {
              "value": "3",
              "label": "3"
            }
          ],
          "default": "2"
        },
        {
          "type": "header",
          "content": "News"
        },
        {
          "type": "image_picker",
          "id": "news_logo",
          "label": "News logo",
          "info": "Recommended image dimenisions: 1052 x 238 pixels"
        },
        {
          "type": "text",
          "id": "news_heading",
          "label": "News heading",
          "default": "MRSA GARLIC ‘CURE’"
        },
        {
          "type": "richtext",
          "id": "news_date_author",
          "label": "News author & Date",
          "default": "<p>By Emily Cook Daily Mirror  Tuesday, 10 June 2008</p>"
        },
        {
          "type": "text",
          "id": "news_title",
          "label": "News title",
          "default": "Killer superbug MRSA can be beaten with garlic, scientists have claimed."
        },
        {
          "type": "richtext",
          "id": "news_content",
          "label": "News content",
          "default": "<p>Trials showed that allicin, a natural compound which gives garlic its distinctive smell, can cure patients suffering from the antibiotic-resistant infection. In a trial, all 52 patients who took allicin capsules(1) or sprayed a liquid on to their wounds recovered fully within four to 12 weeks. Leader Dr Ron Cutler, of the University of East London, said: “This is a breakthrough in took allicin capsules(1) or sprayed a liquid on to their wounds recovered fully within four to 12 weeks. Leader Dr Ron Cutler, of the University of East London, said: “This is a breakthrough in the fight against MRSA.” The infection officially kills almost 2,000 hospital patients a year, although experts believe the true toll is closer to 5,000. Derek Butler, of the charity MRSA Action UK, said: “We welcome any new developments in the fight against infection.” (1) AlliTech Liquid is 4 times stronger than AlliTech capsules.</p>"
        },
        {
          "type": "select",
          "id": "news_order",
          "label": "Order of News block",
          "options": [
            {
              "value": "1",
              "label": "1"
            },
            {
              "value": "2",
              "label": "2"
            },
            {
              "value": "3",
              "label": "3"
            }
          ],
          "default": "3"
        },
        {
          "type": "header",
          "content": "2nd block"
        },
        {
          "type": "text",
          "id": "instructions_heading",
          "label": "Instructions heading",
          "default": "Instructions"
        },
        {
          "type": "richtext",
          "id": "instructions_desc",
          "label": "Instructions details",
          "default": "<p>Instructions on how to take OxyTech These are guidelines only, as we are all different and it is up to you to determine what is the correct number of capsules for you to take. When taking the capsules, some people experience false diarrhoea, as their colon cleanses. This is nothing to worry about and is, in fact, a sign that the capsules are working and cleaning your digestive tract.</p>"
        },
        {
          "type": "select",
          "id": "instructions_order",
          "label": "Order of Instructions details",
          "options": [
            {
              "value": "1",
              "label": "1"
            },
            {
              "value": "2",
              "label": "2"
            },
            {
              "value": "3",
              "label": "3"
            }
          ],
          "default": "1"
        },
        {
          "type": "image_picker",
          "id": "usp_img",
          "label": "USP Image"
        },
        {
          "type": "select",
          "id": "usp_img_order",
          "label": "Order of USP Image",
          "options": [
            {
              "value": "1",
              "label": "1"
            },
            {
              "value": "2",
              "label": "2"
            },
            {
              "value": "3",
              "label": "3"
            }
          ],
          "default": "2"
        },
        {
          "type": "richtext",
          "id": "footer_text",
          "label": "Multiline text",
          "default": "<p>OxyTech is certified Gluten Free and suitable for Vegans and Vegetarians. Capsule shells contain no Animal ingredients. OxyTech is a Kosher product. Manufactured in the USA.</p>"
        },
        {
          "type": "select",
          "id": "footer_text_order",
          "label": "Order of Multiline text",
          "options": [
            {
              "value": "1",
              "label": "1"
            },
            {
              "value": "2",
              "label": "2"
            },
            {
              "value": "3",
              "label": "3"
            }
          ],
          "default": "3"
        }
      ]
    },
    {
      "type": "list_block",
      "name": "List block",
      "settings": [
        {
          "type": "text",
          "id": "list_heading",
          "label": "List heading",
          "default": "AlliTech can be used to treat:"
        },
        {
          "type": "richtext",
          "id": "list_content_1",
          "label": "List content 1",
          "default": "<p>Acne</p>"
        },
        {
          "type": "richtext",
          "id": "list_content_2",
          "label": "List content 2",
          "default": "<p>E-Coli</p>"
        },
        {
          "type": "richtext",
          "id": "list_content_3",
          "label": "List content 3",
          "default": "<p>Psoriasis</p>"
        }
      ]
    },
    {
      "type": "media",
      "name": "Media",
      "settings": [
        {
          "type": "header",
          "content": "Video Settings"
        },
        {
          "type": "video",
          "id": "video",
          "label": "Video"
        },
        {
          "type": "text",
          "id": "video_link",
          "label": "Youtube link",
          "default": "https://www.youtube.com/watch?v=ckWKxbKnmiA&t=1s"
        },
        {
          "type": "image_picker",
          "id": "cover_desktop_image",
          "label": "Cover Image desktop",
          "info": "Recommended image dimenisions: 2250 x 1230 pixels"
        },
        {
          "type": "image_picker",
          "id": "cover_mobile_image",
          "label": "Cover Image mobile",
          "info": "Recommended image dimenisions: 576 x 340 pixels"
        }
      ]
    },
    {
      "type": "description",
      "name": "Description",
      "settings": [
        {
          "type": "checkbox",
          "id": "show_description",
          "label": "Show Description",
          "default": true
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Tab switch content"
    }
  ]
}
{% endschema %}